.list {
  padding-top: 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--cream);

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: end;

  justify-content: center;
}
