.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  height: 250px;
  justify-content: flex-end;
}

.day {
  color: var(--medium-brown);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.barSvg {
  width: 100%;

  display: flex;
  align-items: flex-end;
}

.bar,
.currentBar {
  cursor: pointer;
  width: 80%;
  height: 100%;

  rx: 12;

  transition: opacity 0.3s ease-in-out;
}

.bar:hover,
.currentBar:hover {
  opacity: 0.7;
}

.bar {
  fill: var(--soft-red);
}

.currentBar {
  fill: var(--cyan);
}

.decor {
  width: 100%;
  height: 30px;
  background-color: var(--dark-brown);
}

.amountLabel {
  background-color: var(--dark-brown);
  color: var(--white);
  padding: 5px;
  width: calc(100% - 10px);
  font-size: 14px;
  border-radius: 4px;
  transform: translateY(0px);
  white-space: nowrap;
  transition: opacity 0.3s;
  opacity: 0;
  text-align: center;
}

.item:hover .amountLabel {
  opacity: 1;
}

@media (max-width: 600px) {
  .amountLabel {
    width: calc(100% - 10px);
    font-size: 10px;
    padding: 5px 0;
  }
}

@media (max-width: 400px) {
  .day {
    font-size: 14px;
  }
  .amountLabel {
    width: calc(100% - 5px);
    font-size: 8px;
    text-align: center;
  }
}
